.home h1{
    text-align: center;
    padding: 10px;
    margin: 0;
}
.wrapper{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 20px;
}
.ads{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 20px;
}


.contact{
    background-color: rgb(21, 25, 46);
    color: white;
}
.list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    font-size: 20px;
}
.list h4{
    color: red;
    font-size: 25px;
    
    
}
.list1 h4{
    text-align: center;
}
.list2{
    
}
.list ul{
    list-style: none;
    
}
.list ul li{
    padding-top: 10px;
}
.contact hr{
    color: white;
    width: 90%;
    display: flex;
    margin-left: 5%;
}
.social-media{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 40px;
    gap: 30px;
    margin-right: 20px;
}
.social-media p:hover{
    color:black;
}



@media (max-width: 768px) {
    .list {
        flex-direction: column;
        align-items: center; 
        gap: 20px; 
        padding: 20px; 
    }

    .list h4 {
        text-align: center;
        font-size: 25px;
        margin: 0; 
        color: red;
    }

    .list ul {
        margin: 0; 
        padding: 0;
        margin-bottom: 20px;
    }


    .social-media {
        justify-content: center; 
        margin-right: 0; 
    }

    .home h1 {
        font-size: 1.5em; 
        padding: 5px; 
    }
}