.ticket-booking {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .ticket-booking h1 {
    font-size: 25px;
    text-align: center;
    color: #333;
  }
  
  .ticket-booking h2 {
    margin: 15px 0;
    font-size: 20px;
    color: #555;
  }
  
  .ticket-booking p {
    color: #666;
  }
  
  .ticket-booking form {
    display: flex;
    flex-direction: column;
  }
  
  .ticket-booking label {
    margin: 10px 0;
    font-weight: bold;
  }
  
  .ticket-booking input[type="text"],
  .ticket-booking input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .ticket-booking h3 {
    margin: 15px 0;
    color: 10px;
    color: red;
  }
  
  .ticket-booking button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .ticket-booking button:hover {
    background-color: #218838;
  }
  