nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 1rem;
    color: white;
}
  
nav h1 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.menu-icon {
    display: none; 
    font-size: 2rem;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    gap: 20px;
    padding-right: 20px;
}

nav ul li .link {
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffdd57;
}

.dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}

.username {
    cursor: pointer;
    font-size: 20px;
}

button {
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logout {
    width: 100%;
}  


@media (max-width: 768px) {
    nav ul {
        display: none; 
        flex-direction: column;
        align-items: center; 
        width: 100%;
        background-color: #777777;
        position: absolute;
        top: 60px; 
        left: 0;
        padding: 20px 0;
        z-index: 999;
    }

    nav ul.active {
        display: flex; 
    }

    .menu-icon {
        display: block;
         
    }

    nav h1 {
        flex-grow: 1; 
    }
}
